@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    
}
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    
}
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    
}

body{
    background-color:salmon;
    text-align: center;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color: blueviolet;
    text-decoration: none;
}
a:hover{
    
    color:darkblue;
}
main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    text-align: center;
}
img{
    width: 350px;
    height:fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.info{
    background-color: black;
    color:wheat;
}
.even{
    background-color: gray;
    color:black;
}
.even{
    background-color:darkgrey;
    color:black;
}
.clientinfo{
    background-color:teal;
    color:whitesmoke;
}
#fullname, #telephone, #email{
    display:block;
}
li{
    text-align: left;
}