body{
    background-color:salmon;
    text-align: center;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color: blueviolet;
    text-decoration: none;
}
a:hover{
    
    color:blue;
}
main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    text-align: center;
}
img{
    width: 350px;
    height:fit-content;
    align-content: center;
}
.info{
    background-color: black;
    color:wheat;
}
.even{
    background-color: gray;
    color:black;
}
.even{
    background-color:darkgrey;
    color:black;
}
.clientinfo{
    background-color:teal;
    color:whitesmoke;
}
#fullname, #telephone, #email{
    display:block;
}