<h1> Yasine Souissi's Yummy Salmon 𓆝 ITIS3135 </h1>
<p>"The only group garaunteed to get you to guffaw with glee!"</p>
<nav>
    <a href="./">Home</a>
     𓆝 
    <a href="introduction.html">Introduction</a>
     𓆝 
    <a href="contract.html">Contract</a>
     𓆝 
    <a href="tables.html">Tables</a>
     𓆝 
    <a href="forms.html">Form</a>
     𓆝 
    <a href="website_evaluations.html">Website Evaluations</a>
     𓆝 
    <a href="firstscripts.html">First Scripts</a>
    𓆝 
    <a href="about.html">About Us</a>
    𓆝 
    <a href="byo_intro.html">BYO Introduction</a>
    𓆝 
    <a href="calculator_try.html">Calculator Try</a>
    𓆝 
    <a href="calculator_fcc.html">Calculator fCC</a>
    𓆝 
    <a href="arrays.html">Arrays</a>
    𓆝 
    <a href="clientprojpone.html">Client Project Part 1</a>
    𓆝 
    <a href="interactiveDrawing.html">Interactive Drawing</a>
</nav>
<nav>
    <a href="stuff/CRA~PY+WEB.html" target="_blank">CRAPPY WEBPAGE</a>
    𓆝 
    <a href="hobby/" target="_blank">Hobby Site</a>
</nav>
