<h1> Yasine Souissi's Yummy Salmon 𓆝 ITIS3135 </h1>
<p>"The only group garaunteed to get you to guffaw with glee!"</p>
<nav>
    <a href="./">Home</a>
     𓆝 
    <a href="introduction.html">Introduction</a>
     𓆝 
    <a href="contract.html">Contract</a>
     𓆝 
    <a href="tables.html">Tables</a>
     𓆝 
    <a href="forms.html">Form</a>
     𓆝 
    <a href="website_evaluations.html">Website Evaluations</a>
     𓆝 
    <a href="firstscripts.html">First Scripts</a>
</nav>
<nav>
    <a href="stuff/CRA~PY+WEB.html">CRAPPY WEBPAGE</a>
</nav>
